/* Resets, Clears & Defaults */

@font-face {
    font-family: lulo;
    src: url(lulo.ttf);
}


*, *:after, *:before {
    box-sizing: border-box;
}

body, input, textarea{
    padding: 0; margin: 0;
    font-family: 'lulo', sans-serif;
    color: #000;
    font-weight: 500;
}
input:focus, textarea:focus{
    outline: 0;
}

h1, h2, h3, p{
    position: relative;
    z-index: 6;
}

h1{
    font-size: 40px;
    line-height: 46px;
    font-weight: 600;
}
h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 300;
}
h3{
    font-size: 20px;
    font-weight: 600;
}

a{
    color: #999;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

img{
    max-width: 100%;
}

::selection {
  background: #eee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #eee; /* Gecko Browsers */
}

/* End Resets, Clears & Defaults */
.splash{
    background-image: url("images/tacos.jpg");
    background-size: 100%;
}
.splash span{
    background:#FFF;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
section{
    padding: 100px 20px;
}

.btn{
    display: inline-block;
    padding: 15px 30px;
    border-radius: 50px;
    color: #fff;
    border: 1px solid #fff;
    transition: 200ms;
    background: transparent;
    cursor: pointer;
}
.btn:hover{
    text-decoration: none;
    background: rgba(255,255,255,0.1);
}
.btn.red{
    color: #992b2f;
    border: 1px solid #992b2f;
}
.btn.smaller{
    padding: 10px 25px;
}
.btn .fa{
    margin-left: 10px;
}

.logo{
    height: 200px;
    width: 400px;
    float: right;
    z-index: 300;
    position: relative;
    margin-right: 10%;
    margin-top: 3%;
    border:2px solid #000;
}

header{
    padding: 0 20px;
    position: fixed;
    top: 0; left: 0;
    z-index: 900;
}
header nav{
    float: left;
}
header nav ul{
    text-decoration: none;
    /*padding: 0;*/
    /*margin: 0;*/
}
header nav ul li{
    list-style-type: none;
    text-transform: uppercase;
    margin: 5%;
    letter-spacing: 2px;
}
header nav ul li item{
    background-color: #FFF;
    padding: 2px;
    color: #000;
}
header nav ul li a{
    display: block;
    padding: 6px;
    margin: 3px;
    transition: 200ms;
}
header nav ul li a:hover{
    text-decoration: none;
}
header nav ul li item:hover, header nav ul li item.active{
    background: #992b2f;
    color: #FFF;
}
header .toggle-menu{
    display: none;
}
.overview{
    text-align: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23ebc64d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.overview > div > div{
    float: left;
    width: 100%;
    padding: 0 40px 0 40px;
}
.overview .fa{
    display: inline-block;
    font-size: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #992b2f;
    margin-bottom: 20px;
    padding-top: 25px;
}

.overview p{
    margin-bottom: 0;
}

.menu img{
    width: 50%;
    display: block;
    margin:auto;
}
.menu{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23992b2f' fill-opacity='0.52'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
    background-color: #FFF;
}



.contact{
    /*background: #992b2f;*/
    position: relative;
    overflow: hidden;
    text-align: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23ebc64d' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

    /*url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%23992b2f' fill-opacity='0.52'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");*/
}
.contact span{
    padding: 5px;
    background-color: #FFF;
}

.contact h2{
    margin-bottom: 40px;
}

.photos{
    text-align: center;
    

}
.photos > div > div{
    float: left;
    width: 33%;
    margin-top: 60px;
    background: #f6f6f6;
    padding: 40px;
}
.photos > div > div h3{
    background: #555;
    color: #fff;
    display: block;
    margin: -40px -40px 35px -40px;
    padding: 30px;
    position: relative;
}
.photos > div > div h3 span{
    display: block;
}
.photos > div > div h3 span .fa{
    margin: 0 1px;
}
.photos > div > div .price{
    font-size: 40px;
}
.photos > div > div:nth-of-type(2){
    width: calc(34% + 20px);
    margin: 40px -10px 0 -10px;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3);
    position: relative;
    z-index: 50;
}
.photos > div > div:nth-of-type(2) h3{
    background: #992b2f;
    color: #555;
    display: block;
}
.photos ul{
    padding: 0;
    margin: 27px 0;
}
.photos ul li{
    display: block;
    line-height: 40px;
    border-bottom: 1px solid #eee;
}
.photos ul li:last-child{
    border-bottom: 0;
}
footer{
    background: #222;
    color: #ccc;
    padding: 0 20px;
}
footer .copyright{
    float: left;
    padding: 15px 0;
}
footer .copyright p{
    margin: 0;
}
footer .copyright a{
    color: #fff;
}
footer .social{
    float: right;
    padding: 15px 0;
}
footer .social a{
    margin-left: 10px;
    font-size: 20px;
    color: #ccc;
}
footer .social a:hover{
    color: #fff;
}

@media (max-width: 800px){
    section{
        padding: 80px 10px;
    }
    header, footer{
        padding: 0 10px;
    }
    .splash{
        height: auto;
        padding: 150px 10px 80px 10px;
        text-align: center;
    }
    .splash .container{
        position: relative;
        top: 0;
        transform: none;
    }
    .overview > div > div{
        padding: 0 20px;
    }
    .menu img{
        width: 100%;
    }
    header nav ul li a{
        padding: 15px;
    }
    .photos > div > div{
        width: 100% !important;
        float: none;
        margin: 0 0 20px 0 !important;
        box-shadow: none !important;
    }
    .photos > div > div h3{
        background: #555 !important;
        color: #fff !important;
    }
    .photos h2{
        margin-bottom: 40px;
    }
}

@media (max-width: 600px){
    .logo{
        margin-top: 12%;
        height: 150px;
        width: 300px;
        border:none;
    }
    .splash{
        background-image: none;
    }
    section{
        padding: 40px 10px;
    }
    .splash{
        padding: 100px 10px 40px 10px;
    }
    .overview > div > div{
        float: none;
        width: 100%;
        margin-bottom: 40px;
        padding: 0;
    }
    .overview > div > div:last-child{
        margin-bottom: 0;
    }
    .overview p{
        overflow: hidden;
    }
    .feature img{
        display: none;
    }
    .feature > div > div{
        width: 100%;
        float: none;
    }
    header nav{
        float: none;
        position: fixed;
        top: 56px;
        left: -300px;
        bottom: 0;
        width: 100%;
        max-width: 300px;
        font-size: 1.4em;
        transition: 200ms;
        background-image: url("images/grey.png");
    }
    header nav.visible{
        left: 0px;
        
    }
    header nav ul li{
        display: block;
        float: none;
        width: 100%;
    }
    header nav ul li a{
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }
    header .toggle-menu{
        display: block;
        color: #ebc64d;
        position: relative;
        right: 10%;
        top: 13px;
        font-size: 32px;
    }
    footer{
        text-align: center;
    }
    footer .copyright, footer .social{
        float: none;
    }
    footer .social{
        padding-top: 0;
    }

    .contact .input{
        display: block;
        width: 100%;
        float: none;
    }
    .contact .input:nth-of-type(odd){
        margin-right: 0;
    }
    .contact label{
        padding-top: 10px;
    }
    .contact label:first-of-type{
        padding-top: 0;
    }
}